.footer {
    position: absolute;
    height: 266px ;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 9px;
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    
}
.copyright {
    position: absolute;
    height: 21px ;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 8px;
    font-family: sans-serif;
    
}
    

.ho { 
    left: 0px ;
}