



ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    
}


ul.topnav li {
    float: right;
 
    
 
    
}



ul.topnav li a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    
}


ul.topnav li a:hover {background-color: #939393;}


ul.topnav li.icon {display: none;}



@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}


@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
    
    
    
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}


#logo {
    width: 14%;
    position: absolute;
}

nav {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: block;
}

body {
    margin: 0;
}




/* FOOTER
================================================ */

.footer {
    position: absolute;
    height: 266px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: white;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 9px;
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    grid-auto-rows: 120px;
    padding: 32px;
    
    }


.copyright {
    position: absolute;
    height: 21px ;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 8px;
    font-family: sans-serif;
    }
    

.hobox {
    position: absolute;
    left: 27px;
    bottom: 50px;
    width: 30%;
    height: 177px;
    padding: 5px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 9px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    text-align: left;
    }

.line {
    position: absolute;
    left: 27px;
    bottom: 77px;
    width: 8.5%;
    height: 150px;
    display: grid;
    border-right: 0.5px solid black;
    }

.line2 {
    position: absolute;
    left: 27px;
    bottom: 77px;
    width: 20.5%;
    height: 150px;
    display: grid;
    border-right: 0.5px solid black;
    }

.ho { 
    left: 0px ;
}

.nivel2 { 
    font-family: sans-serif;
    text-transform: uppercase; 
    font-size: 11px;
}


.text { 
    font-family: sans-serif;
    font-weight: normal;
    font-size: 10px;
}

.sobox {
    position: absolute;
    left: 0px;
    bottom: 50px;
    width: 100%;
    height: 180px;
    display: grid;
    grid-template-columns: 40% 14% 20% 20%;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
    padding: 32px;
    }
.cobox {
    position: absolute;
    left: 20px;
    bottom: 50px;
    width: 100%;
    height: 180px;
    display: grid;
    grid-template-columns: 40% 20% 15% 25%;
    grid-auto-rows: 30px;
    text-align: left;
    padding: 32px;
    }

.nebox {
    position: absolute;
    left: 0px;
    bottom: 50px;
    width: 100%;
    height: 180px;
    display: grid;
    grid-template-columns: 40% 25% 15% 14%;
    grid-auto-rows: 60px;
    text-align: left;
    padding: 32px;
    }


